[Unit]
Description = plasm testnet

[Service]
ExecStart = /usr/local/bin/plasm-node --validator --name {{plasm_node_validator_name}} --rpc-cors all--unsafe-ws-external --unsafe-rpc-external --rpc-methods=Unsafe
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target